$font-stack: Helvetica, sans-serif;
$primary-color: #93ebcf;
$secondary-color: #eba593;
$tertiary-color: #C26047;
$quaternary-color: #188160;
$dark: #09241B;
$light: #fdf7f4;

@import 'reactable';
@import 'app';
@import 'subNav';
@import 'calendar';

.courseCatalogButton{
  background-color: #288ad6;
  width: 250px;
  height: 75px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 15px;
  border: none;
}

.courseDetails{
  text-align: left;
}

.courseCatalogHeaders{
  font-size: 25px;
  text-align: center;
  background-color: #f4fbfe;
}

.classSection{
  border: 1px;
  background-color: #c7e6aa;
  padding: 5px;
}

.formSection{
  border: 1px;
  background-color: #f4fbfe;
  padding-bottom: 15px;
}

.userCard{
  background-color: #8abee5;
  padding:15px;
  border: none;
}

.userCardContainer{
  justify-content: center;
}

.graphButtonsContainer{
  border-width: 4px;
  border-color: #288ad6;
  border-style: solid;
  padding: 5px;
}

.graphUserButtonsContainer{
  border-color: #0FDEBD;
}

.graphClassButtons{
  background-color: #288ad6;
  width: 80px;
  height: 60px;
  font-size: 12px;
  color: white;
  justify-content: center;
  border: none;
  padding:15px;
  margin: 10px;
}

.graphClassButtons:hover{
  background-color: #0FDEBD;
}

.graphUserButtons{
  background-color: #0FDEBD;
}

.graphUserButtons:hover{
  background-color: #288ad6;
}

.dailySchedule {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  color: #297CBB;

}

.dailySchedule {
  button {
    border-radius: 10px;
    margin-right: 5px;
    background-color: #8abee5;
    font-size: 20px;
    height: 30px;
  }
}
