.defaultContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.defaultButton {
  display: block;
  color: white;
  background-color: grey;
  margin: 20px;
  font-size: medium;
  padding: 10px;
  border: none;
}

*{
  font-family: Helvetica;
}

.pageTitle{
  font-size: 40px;
  text-align: center;
}

.courseCatalogButton{
  background-color: lightblue;
  width: 250px;
  height: 75px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 15px
}
.courseDetails{
  text-align: left;
}

.courseCatalogHeaders{
  font-size: 25px;
  text-align: center;
  padding: 5px;
}

.classSection{
  border: 1px;
  background-color: lightgrey;
  padding: 15px;
}

.dailySchedule {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  color: #297CBB;

}

.dailySchedule {
  button {
    border-radius: 10px;
    margin-right: 5px;
    background-color: #8abee5;
    font-size: 20px;
    height: 30px;

  }
}
