.defaultContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.defaultButton {
  display: block;
  color: white;
  background-color: grey;
  margin: 20px;
  font-size: medium;
  padding: 10px;
  border: none;
}
